p {
  font-family: Lato;
  text-align: center;
}
h1 {
  background-color:rgb(16, 29, 34);
  color: white;
  text-align: center;
}

a {
  margin: 10px;
}

button {
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: rgb(79, 79, 168);
  margin-bottom: 20px;
}

button:hover, button:focus {
  background-color: rgb(19, 19, 70);
}

nav {
  text-align: center;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
main {
    padding: 10px;
}